@model VeganProfileVM

<div>
    @Model.UserName
    @Model.PictureURL
    @Model.Posts 
    @Model.Followers
    @Model.Following

</div>

<form asp-controller="vegan" asp-action="editprofile">
    <input type="submit" value="Edit Profile" />
</form>


