@model VeganDetailsVM
@{ ViewBag.Title = "Recipe Details";}
@section styles
{<link rel="stylesheet" type="text/css" href="~/styles/Details.css" />}

<partial name="~/Views/Shared/_Header.cshtml" />

<div class="container">
    <div class="presentation">
        <div class="p-header">
            <div>
                <h1 class="h2 mb-3 font-weight-normal">@Model.Title</h1>

                @foreach (var cat in Model.Categories)
                {
                    <p>@cat</p>
                }
            </div>
            <div>
                @if (Model.IsSaved)
                {
                    <input type="submit" id="btnSave" value="Unsave" class="btn btn-outline-warning" />
                }
                else if (Model.IsUsersRecipe)
                {
                }
                else
                {
                    <input type="submit" id="btnSave" value="Save" class="btn btn-outline-warning" />
                }
            </div>
        </div>
        <div class="p-main">
            <img src="~/Uploads/@Model.RecImg" alt="recipe-img" class="img-fluid" />
        </div>
        <div class="p-footer">
                <img src="~/Uploads/@Model.UserImg" alt="user-img" class="rounded-circle"/>
                <h2 class="h5 mb-3 font-weight-normal">@Model.Username</h2>
                @if (Model.IsFollowing)
                {
                    <input type="submit" id="btnFollow" value="Unfollow" class="btn btn-outline-warning" />
                }
                else if (Model.IsUsersRecipe)
                {
                }
                else
                {
                    <input type="submit" id="btnFollow" value="Follow" class="btn btn-outline-warning"/>
                }
        </div>
    </div>
    <div class="ingredients">
        <h3 class="h2 mb-3 font-weight-normal">Ingredients</h3>
        <ul>
            @foreach (var ingr in Model.Ingredients)
            {
                <li>@ingr.Amount @ingr.Unit @ingr.Name</li>
            }
        </ul>
    </div>
    <div class="steps">
        <h4 class="h2 mb-3 font-weight-normal">Step by Step</h4>
        @foreach (var step in Model.Steps)
        {
            <input type="checkbox" id="CbInstruct" onclick="GrayText()"> <div id="text">@step.Instruction</div>
        }
    </div>

    @section scripts
{
        <script>
        var recId = @Model.RecId;
        $("#btnSave").click(function () {
            var isSaved = $('#btnSave').val() == "Unsave";
            $.ajax({
                url: (isSaved) ? "/Unsave/" + recId : "/Save/" + recId,
                type: "GET",
                success: function (result) {
                    $('#btnSave').val(result);
                }
            });
        });
        </script>

        <script>
        var id = "@Model.UserId";
        $("#btnFollow").click(function () {
            var isFollowing = $('#btnFollow').val() == "Unfollow";
            $.ajax({
                url: (isFollowing) ? "/Unfollow/" + id : "/Follow/" + id,
                type: "GET",
                success: function (result) {
                    $('#btnFollow').val(result);
                }
            });
        });
        </script>
        <script>
        function GrayText() {
            var checkBox = document.getElementById("CbInstruct");
            var text = document.getElementById("text");
              if (checkBox.checked == true){
                  text.style.color = "gray";
                  text.style.textDecoration = "line-through";
              } else {
                  text.style.color = "black";
                  text.style.textDecoration = "none";
              }
        } 
        </script>
    }
</div>