@model VeganFollowersVM[]
@{ ViewBag.Title = "Followers";}

<h4>My followers posts</h4>
@foreach (var follower in Model)
{
<div>
    <div>
        <h5>@follower.Username</h5>
        <img src="@follower.ProfileImg" style="width: 500px; height:auto"/>
        <h6>@follower.Posts[0].RecipeTitle</h6>
        <img src="@follower.Posts[0].RecipeImg" style="width: 500px; height:auto"/>
        <p>@follower.Posts[0].RecipeCategories[0]</p>
    </div>
</div>
}
