@model VeganFollowersVM[]
@{ ViewBag.Title = "Followers";}

<partial name="~/Views/Shared/_Header.cshtml" />

<h4>Posts from people you follow</h4>

@if (Model.Length > 0)
{
    foreach (var post in Model)
    {
        <div class="poster-info">
            <h5>@post.CreatorUsername</h5>
            <img src="@post.CreatorProfileImg" style="width: 500px; height:auto" />
        </div>
        <div class="post-info">
            <a asp-controller="Vegan" asp-action="Details" asp-route-id="@post.RecipeId">
                <h6>@post.RecipeTitle</h6>
            </a>

            @foreach (var cat in post.RecipeCategories)
            {
                <p>@cat</p>
            }

            <img src="@post.RecipeImg" style="width: 500px; height:auto" />
        </div>
    }
}
else
{
    <h5>You are not following anyone yet</h5>
}