@model VeganSavedVM[]
@{ ViewBag.Title = "Save";}
@{
    Layout = "_ProfileLayout";
}


<h1>Your saved recipes</h1>

@if (Model.Length > 0)
{
    foreach (var post in Model)
    {
<div>
    <h5>@post.CreatorUsername</h5>
    <img src="@post.CreatorProfileImg" />

    <a asp-controller="Vegan" asp-action="Details" asp-route-id="@post.RecipeId">
        <h6>@post.RecipeTitle</h6>
    </a>

    @foreach (var cat in post.RecipeCategories)
        {
    <p>@cat</p>
        }

    <img src="@post.RecipeImg" style="width: 500px; height:auto" />
</div>
    }
}
else
{
<h5>You have no saved recipes yet</h5>
}

